@import '~bootstrap/scss/bootstrap';

// color palette
$color1: #EBE3CB;
$color2: #FB6B5B;
$color3: #342C54;
$color4: #FC8B76;

.rounded-borders {
  border-radius: 50px 50px 50px 50px;
  -moz-border-radius: 50px 50px 50px 50px;
  -webkit-border-radius: 50px 50px 50px 50px
};

body {
  background-color: $color3;
}

#home-page, #settings-page, #profile-page, #matches-page, .navbar, #sign-up, #matches-link {
  display: none
}

.btn, #nav-button {
  @extend .rounded-borders
}

.button-display {
  display: flex;
  justify-content: center;
}

.button-display > .btn,  #login-button, #create-button, #change-password-button {
  width: 35vw
}

#login-button, #create-button, #change-password-button, #submit-profile-change-button, #user-yes {
  background-color: $color3;
  color: $color2;
  font-weight: bold;
}

#update-profile, #create-profile, #user-no, #sign-out-button {
  background-color: $color2;
  color: $color3;
  font-weight: bold;
}

nav {
  background-color: $color1;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 2.2;
  width: 100vw;
  display: flex;
  align-content: space-around;
}

#brand-image {
  height: auto;
  width: auto;
  max-height: 80px;
  max-width: 80px;
  margin-left: 5vw;
}

.nav-link {
  font-size: 14px;
  line-height: 0.2;
  margin: 0px
}

#nav-burger {
  margin-right: 5vw;
  justify-content: flex-end;
  align-items: flex-end;
}

section {
  max-width: 95vw;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  padding: 0
}

.container, .container-fluid {
  max-width: 95vw;
}

.border {
  border: 5px solid black;
  margin-left: 0;
  margin-right: 0;
  padding: 15px
}

form {
  display: grid;
  margin-left: 20px;
  margin-right: 20px;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

#sign-in-page {
  height: 95vh
}

#sign-in-page, #home-page, #settings-page, #profile-page, #matches-page {
  max-height: 95vh;
  width: 95vw;
  margin: 2.5vw;
  background-color: $color1;
  @extend .rounded-borders
}

#sign-in, #sign-up, #change-password, #edit-profile-container, #your-profiles-display, #your-matches-display {
  background-color: $color4;
  margin-top: 0;
  @extend .rounded-borders
}

#sign-in-message, #sign-up-message, #like-dislike-message, #change-password-message, #sign-out-message, #update-profile-message {
  text-align: center;
}

#user-image {
  max-height: 35vh;
  max-width: 35vw;
  padding: 0;
  @extend .rounded-borders
}

#image-display {
  display: flex;
  justify-content: center;
}

#user-display {
  background-color: $color4;
  @extend .rounded-borders
}

#user-tag {
  font-style: italic;
  color: gray;
  font-size: 14px;
  margin-left: 12px;
}

#user-name {
  font-weight: bold;
}

#user-age-gender, #user-location {
  font-size: 14px;
  margin-bottom: 0;
}

#user-about {
  font-size: 20px;
  padding: 0;
  margin-left: 12px
}

#no-more-profiles {
  text-align:center;
  font-weight: bold;
  color: $color3
}

#sign-out {
  display: flex;
  justify-content: center;
}

#profile-container, #multiple-profiles-buttons, #matches-container {
  flex-wrap: wrap;
  font-size: 4vw;
}

span {
  color: red
}

#clear-form-fields {
  text-align: end;
  font-weight: bold;
}

.multiple-profile-display {
  background-color: $color2;
  text-align: center;
  @extend .rounded-borders
}

.multiple-matches-display {
  background-color: $color2;
  text-align: center;
  @extend .rounded-borders
}