@import '~bootstrap/scss/bootstrap';

body {
  background-color: rgb(245, 228, 194);
}

nav {
  background-color: rgb(237, 226, 204);
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 2.2
}

#brand-image {
  height: auto;
  width: auto;
  max-height: 80px;
  max-width: 80px
}

.nav-link {
  font-size:14px;
  line-height: 0.2;
  margin: 0px
}

.navbar-collapse {
    -webkit-justify-content: flex-end;
    justify-content: flex-end; 
}

.container, .container-fluid {
  max-width: 95vw;
}

.border {
  border: 5px solid black;
  margin: 15px;
  padding: 15px;
}

form {
  display: grid;
  margin-left: 20px;
  margin-right: 20px;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

#home-page, #settings-page, #profile-page {
  display: none
}

#sign-in-message, #sign-up-message, #like-dislike-message, #change-password-message, #sign-out-message, #update-profile-message {
  text-align: center;
}

#user-image {
  height: 35vh;
}

#user-tag {
  font-style: italic;
  color: gray;
  font-size: 14px;
  margin-left: 12px;
}

#user-name {
  font-weight: bold;
}

#user-age-gender, #user-location {
  font-size: 14px;
  margin-bottom: 0;
}

#user-about {
  font-size: 20px;
  padding: 0;
  margin-left: 12px
}

#user-no, #user-yes {
  border-radius: 50px 50px 50px 50px;
  -moz-border-radius: 50px 50px 50px 50px;
  -webkit-border-radius: 50px 50px 50px 50px;
}

span {
  color: red
}

#profile-container, #multiple-profiles-buttons {
  flex-wrap: wrap;
  font-size: 4vw;
}

#clear-form-fields {
  text-align: end;
}

#sign-out {
  display: flex;
  justify-content: center;
}

#sign-out-button {
  display: block;
  width: 90%;
}
